
.Header{
    display: flex;
    font-size: 25px;
    text-align: center;
    justify-content:space-between;
    border: 1px solid black;
} 

.logo{
 width: 150px;
}

.Nav-Items > ul{
 display: flex;
 list-style-type: none;
}

.Nav-Items > ul> li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    width: 200px;
    height: 350px;
    text-align: center;
    background-color: #f0f0f0;
    padding: 5px;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.search {
    padding: 8px;
}
.button {
    cursor: pointer;
}
.res-img{
    width: 100%;
   
}
.name{
    text-align: left;
}
.name2{
    text-align: left;
}
.name_2{
    text-align: left;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}